
gui/__pycache__/directories.cpython-38.pyc
gui/__pycache__/converting.cpython-38.pyc
*.pyc
gui/__pycache__/constants.cpython-38.pyc
SpeechToText/deepspeech-0.7.4-models.scorer
SpeechToText/deepspeech-0.7.4-models.pbmm
SpeechToText/venv
SpeechToText/venv/Lib/site-packages/deepspeech-0.7.4.dist-info/entry_points.txt
